@import '../../../../../../../../style/variables';

.message-wrapper {
  display: flex;
  width: 100%;
  &.my {
    justify-content: flex-end;
    .message {
      background-color: $messageColor;
      color: white;
    }
  }
  .message {
    margin: 5px 0;
    display: inline-block;
    padding: 12px 16px;
    background-color: $secondaryBgColor;
    border-radius: 3px;
    color: $textColor;
    &-img {
      width: 500px;
      @media screen and (max-width: 720px) {
        & {
          width: 400px;
        }
      }
      @media screen and (max-width: 480px) {
        & {
          width: 250px;
        }
      }

    }
  }
}
