@import '../../../../../../style/variables';

.input-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  bottom: 0;
  height: 64px;
  width: 100%;
  background-color: $secondaryBgColor;
  .file-input-label {
    display: flex;
    color: black;
    height: 100%;
    width: 62px;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    cursor: pointer;
    padding: 0;
    transition: 0.2s ease;
    &:hover {
      background-color: $messageColor;
    }
  }
  .file {
    display: flex;
    flex-direction: row;
    color: black;
    font-size: 24px;
    .clear-file {
      background-color: #ff0000;
      color: white;
      padding: 0 5px;
      margin-left: 5px;
      &:hover {
        transition: 0.2s ease;
        background-color: #cf1717;
      }
    }
  }
  .file-input {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
  }
  .message-input {
    height: 22px;
    width: calc(100% - 124px);
    outline: none;
    border: none;
    padding: 0 15px;
    font-size: 12pt;
    resize: none;
  }
  .chat-btn {
    height: 100%;
    width: 62px;
    font-size: 18px;
    cursor: pointer;
    outline: none;
    border: none;
    background-color: $secondaryBgColor;
    padding: 0;
    transition: 0.2s ease;
  }
  .unactive:hover {
    background-color: $messageColor;
  }
  .active {
    background: $buttonColor;
    color: white;
  }
}

