.thread {
  width: 30%;
  background-color: #3E3C61;

}
.thread-user-message__list {
  height: calc(100% - 128px);
  overflow: scroll;
}
::-webkit-scrollbar-track {  background-color: #999;}
::-webkit-scrollbar-track-piece { background-color: #303142;}
::-webkit-scrollbar-thumb { height: 50px; background-color: #4593F0; border-radius: 3px;}
::-webkit-scrollbar-corner { background-color: #303142;}
::-webkit-resizer { background-color: #4593F0;}
::-webkit-scrollbar
{
  display: none;
}
