@import '../../../../../../style/variables';

.chat-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  height: 64px;
  background-color: $buttonColor;
  z-index: 1;
  .user {
    font-size: 20px;
    color:#FEFDFE;
    @media screen and (max-width: 480px){
      & {
        font-size: 16px;
      }
    }
  }
}


.thread-open {
  display: block;
  width: 100%;
  background-color: #3E3C61;
  height: 100%;
  @media screen and (min-width: 321px) {
    & {
      display: none;
    }
  }
}

.cancel {
  font-size: 20px;
}

.burger {
  @media screen and (min-width: 321px) {
    & {
      display: none;
    }
  }
}