@import '../../../../../../../../style/variables';

.thread-user {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
  padding: 15px;
  .thread-user__name-message {
    display: flex;
    flex-direction: column;
  }

  .thread-user__name {
    color: white;
    font-size: 20px;
    margin-bottom: 5px;
  }

  .thread-user__message {
    height: 5vh;
    overflow: hidden;
    color: #8b89b2;
  }
}

.active {
  background: $mainBgColor;
}

.user-img {
  margin-right: 10px;
}


